{% extends 'base.html' %}

{% block panel %}
<div style="background-image: url(../../static/assets/home.jpg);">
  <h1>{% block title %}Jobs Information{% endblock %}</h1>
</div>
<form method="GET" action="/search">
  <input type='text' name = 'search_text' />
  <button type='submit'>Search</button>
</form>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <div>
    <a href="{{ url_for('charts.chart_types') }}">See charts</a>
  </div>
  {% for job in jobs %}
    <article class="job">
      <header>
        <div>
          <h1>{{ job['title'] }}</h1>
          <div class="about">Đăng bởi: {{ job['company'] }}</div>
        </div>
      </header>
      <p class="body">
          <div>
              <p>Lương:{{job['salary']}}</p>
              <p>Địa chỉ công ty: {{job['address']}}</p>
              <p>Link mô tả chi tiết công việc: <a>{{job['url']}}</a></p>
          </div>
      </p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <hr>
  <div>{{ page }}</div>
  <form method="post">
    <label for="page_num">Số trang</label>
    <input name="page_num" id="page_num" required>
    <input type="submit" value="Go">
  </form>
{% endblock %}