{% extends 'base.html' %}

{% block panel %}
<!-- <img  src="{{ url_for('static', filename='/assets/home.jpg') }}" /> -->
<div class='panel-home' style="background-image: url({{url_for('static', filename='images/bg-01.jpg')}})" >
  <h1>{% block title %}Hiện đang có {{jobs_count}} tin tuyển dụng việc làm {% endblock %}</h1>
<!-- <form class="searchBox" method="GET" action="/search">
  <input class="searchInput" type='text' name = 'search_text' />
  <button class="searchButton" type='submit'><i class="material-icons">
    search
</i></button>
</form> -->

<div class="wrap" >
    <form class="search" method="GET" action="/home">
     <input type="text" class="searchTerm" name='search_text' placeholder="Tìm Kiếm">
     <button type="submit" class="searchButton">
       <i class="fa fa-search"></i>
    </button>
  </form>
</div>
</div>

{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  
  <div class="job-list" >
  {% for job in jobs %}
  
    <article class="job">
      <header>
        <div>
          <a href="https://itviec.com{{job['url'][:-7] }}">
            <h1>{{ job['title'] }}</h1>
          </a>
          <div class="about">Đăng bởi: {{ job['company'] }}</div>
        </div>
      </header>
      <p class="body">
          <div>
            {% if job['maxSalary']!=0 %}
              <p>Lương:{{job['maxSalary']}} vnd</p>
            {% endif %}
            {% if job['maxSalary']==0 %}
              <p>Lương: Thương lượng</p>
            {% endif %}
              <p>Địa chỉ công ty: {{job['address']}}</p>
              <!-- <p>Link mô tả chi tiết công việc: <a>{{job['url']}}</a></p> -->
          </div>
      </p>
    </article>
 
    {% if not loop.last %}
      <hr>
    {% endif %}
  
  {% endfor %}
</div>
  <hr>
  <div>{{ page }}</div>
  <form method="get" action="/home">
    <label for="page_num">Số trang</label>
    <input name="page_num" id="page_num" required>
    <input type="submit" value="Go">
    {% if text_s!=""%}
    <input style="display: none;" type="text" name="search_text"  value = "{{text_s}}" >
    {% endif %}
  </form>
{% endblock %}